<footer>
  <div class="container">
    <nav class="d-flex alic mb-24">
      <img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg"
        alt="logo"
        class="nav-logo"
      />
      <ul class="d-flex mla">
        <li class="nav-link pl-40">
          <a href="./productList.html">商品列表</a>
        </li>
        <li class="nav-link pl-40"><a href="./story.html">品牌故事</a></li>
      </ul>
    </nav>
    <div class="copyrigh">
      <p class="paragraph text-center mb-4">Copyright ©2025 URBNSTYLE</p>
      <p class="paragraph text-center">All Rights Reserved.</p>
    </div>
  </div>
</footer>
