<header>
  <nav class="d-flex alic">
    <a href="./index.html"
      ><img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg"
        alt="logo"
        class="nav-logo"
    /></a>
    <ul class="d-flex alic py-16 nav-menu">
      <li class="nav-link pl-40">
        <a href="./productList.html">商品列表</a>
      </li>
      <li class="nav-link pl-40"><a href="./story.html">品牌故事</a></li>
    </ul>
    <div class="member">
      <a href="./member.html" class="nav-link"><i class="bi bi-person"></i></a>
    </div>

    <ul class="nav-menu-rwd">
      <li class="nav-link bg-Primary-200">
        <a href="./productList.html">商品列表</a>
      </li>
      <li class="nav-link bg-highlight">
        <a href="./story.html">品牌故事</a>
      </li>
    </ul>
  </nav>
</header>
