<section class="join d-flex alic bg-Primary-200 jcc mt-48 mt-48-sm">
  <h4 class="fw-700 h4-sm mr-24 mr-24-sm">加入會員取得 9 折優惠</h4>
  <a href="./join.html" class="btn btn-Neutral-900">馬上註冊</a>
</section>
