body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--Neutral-900);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

.hidden {
  display: none;
}

.hidden-block {
  display: none;
}

@media (max-width: 768px) {
  .hidden {
    display: flex;
  }
  .hidden-rwd {
    display: none;
  }
  .hidden-block {
    display: block;
  }
}

/*標題樣式*/
.Display1 {
  font-size: 64px;
  line-height: 1.2;
}
.Display2 {
  font-size: 48px;
  line-height: 1.2;
}
h1 {
  font-size: 40px;
  line-height: 1.2;
}
h2 {
  font-size: 32px;
  line-height: 1.2;
}
h3 {
  font-size: 28px;
  line-height: 1.2;
}
h4 {
  font-size: 24px;
  line-height: 1.2;
}
h5 {
  font-size: 20px;
  line-height: 1.2;
}
h6 {
  font-size: 16px;
  line-height: 1.2;
}
p {
  color: var(--Neutral-900);
}
.paragraph {
  font-size: 14px;
  color: var(--Neutral-600);
}

@media (max-width: 768px) {
  .Display1-sm {
    font-size: 48px;
  }
  .Display2-sm {
    font-size: 32px;
  }
  .h1-sm {
    font-size: 28;
  }
  .h2-sm {
    font-size: 24px;
  }
  .h3-sm {
    font-size: 16px;
  }
  .h4-sm {
    font-size: 20px;
  }
  .h5-sm {
    font-size: 16px;
  }
  .paragraph-sm {
    font-size: 16px;
  }
}

/*index*/

.card img:hover {
  opacity: 80%;
}
.hot-list img:hover {
  opacity: 60%;
}
.shoes-card li:hover {
  opacity: 60%;
}

/*index-hero*/
.hero {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-content {
  padding: 289px 0px;
  margin-left: 200px;
}
@media (max-width: 768px) {
  .hero {
    width: 100%;
  }
  .hero-content {
    padding: 155px 24px;
    margin-left: 0;
  }
}

.banner {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/banner-co-branded.png?raw=true);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-content {
  padding: 100px 0px;
}
@media (max-width: 768px) {
  .banner-content {
    padding: 64px 0px;
  }
  .sm-block {
    display: block;
    text-align: center;
  }
}

/*index-系列商品*/
.series {
  padding: 118px 40.5px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.series-2 {
  padding: 118px 43.5px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.series-3 {
  padding: 118px 26.5px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.series-4 {
  padding: 118px 26.5px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/product-10.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}
.series-product h3:hover {
  color: var(--Primary-300);
}
@media (max-width: 768px) {
  .series {
    padding: 62px 12px;
  }
  .series-2 {
    padding: 62px 12px;
  }
  .series-3 {
    padding: 62px 0px;
  }
  .series-4 {
    padding: 62px 12px;
  }
}

/*index-靈感穿搭*/
.photo-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}
.grid-item {
  overflow: hidden;
}
.grid-item-big {
  grid-column: span 2;
  grid-row: span 2;
}

/*===========index===========*/

.join {
  padding: 24px 0px;
}

/* ==========Swiper-輪播功能-手機板===============*/

.swiper-slide {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* index-swiper-熱銷補貨  */

.hot-list-hidden {
  display: none;
}
.hot-list {
  display: flex;
}
.hot-list-rwd {
  display: none;
}

/* index-swiper-穿搭靈感  */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 8px;
}
.ootd-rwd {
  display: none;
}

/* 商品列表-swiper-穿搭靈感  */
.product-list-hidden {
  display: none;
}

/* 商品資訊頁-swiper-穿搭靈感  */
.product-img-hidden {
  display: none;
}

@media (max-width: 767px) {
  /* 熱銷補貨 */
  .hot-list {
    display: none;
  }
  .hot-list-hidden {
    display: flex;
  }
  .hot-list-rwd {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hot-list-rwd .swiper-slide {
    width: 85%;
  }
  .hot-list-rwd .swiper-slide .hot {
    position: absolute;
    z-index: 10;
    padding: 5px 10px;
  }

  /* 穿搭靈感 */
  .photo-grid {
    display: none;
  }
  .ootd-rwd {
    display: block;
  }
  .ootd-rwd .swiper {
    padding-left: 0px;
    padding-right: 20px;
  }
  .ootd-rwd .swiper-slide {
    width: 75%;
  }

  /* 商品列表輪播 */
  .product-list-hidden {
    display: block;
  }
  .product-like-rwd .swiper {
    padding-left: 0px;
    padding-right: 20px;
  }
  .product-like-rwd .swiper-slide {
    width: 85%;
  }

  /* 商品資訊頁圖片輪播 */
  .product-img-hidden {
    display: block;
  }
  .product-img-rwd .swiper {
    padding-left: 0px;
    padding-right: 0px;
  }
  .product-img-rwd .swiper-slide {
    width: 100%;
  }
}

/* ==========Swiper-輪播功能-手機板===============*/

/* ==========列表偽元素===============*/
.line-item + .line-item::before {
  content: "/";
  padding: 0 12px;
}

.line-item {
  display: flex;
  color: var(--Neutral-300);
}
/* ==========列表偽元素===============*/

/* ==========product-list===============*/

.shoes-list li {
  margin-bottom: 16px;
}
.shoes-list li a {
  display: block;
  padding: 12px 0px;
  font-weight: 500;
}
.shoes-list li a:hover {
  color: var(--Neutral-600);
}

.page-number a {
  display: block;
  padding: 8px 12.5px;
}
.page-number a:hover {
  background-color: var(--Neutral-100);
}

@media (max-width: 767px) {
  .shoes-list-rwd {
    display: none;
  }
}

/* ==========product-list===============*/

/* ==========商品資訊頁===============*/

// .product-img li {
//   margin-left: -8px;
//   margin-right: -8px;
// }

.col-6-proudct-img img {
  padding: 4px;
}

.price {
  color: var(--Neutral-500);
  text-decoration: line-through;
}

.product-color li {
  width: 64px;
}

.product-color img:hover {
  opacity: 80%;
}

.border-bottom {
  border-bottom: 1px solid var(--Neutral-300);
}

.product-like img:hover {
  opacity: 80%;
}

.store-time {
  padding: 16px 16px;
}

.truck {
  font-size: 24px;
}

.br-hidden {
  display: none;
}

// @media (max-width: 768px) {
//   .product-color li {
//     width: 18%;
//   }
// }

/* ==========商品資訊頁===============*/

/* ==========我的收藏頁===============*/

.like-shoe img {
  width: 20%;
}

@media (max-width: 768px) {
  .text-end {
    text-align: start;
  }
  .br-hidden {
    display: block;
  }
  .like-shoe img {
    width: 35%;
  }
  .bi {
    font-size: 20px;
  }
}

/* ==========我的收藏頁===============*/

/* ==========註冊頁===============*/
.login {
  border: 1px solid var(--Neutral-300);
  padding: 12px;
  border-radius: 4px;
}

.sign-up-banner {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/login.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  height: 100%;
}

.sign-up-content {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/login-bg.png?raw=true);
  padding: 120px 80px;
  margin: 0 auto;
  border-radius: 12px;
}

.sign-up-banner-rwd {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/login-sm.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
}

.sign-btn {
  max-width: 100%;
}

@media (max-width: 768px) {
  .sign-up-banner {
    display: none;
  }
  .sign-up-content {
    padding: 0px;
    background-image: none;
    margin-left: 0px;
  }
}

/* ==========註冊頁===============*/

/* ==========品牌故事===============*/
.story-content {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 151px 0px;
}

.brand-age ol {
  list-style: disc;
}

.idea-line {
  border-left: 3px solid var(--Neutral-300);
  padding-left: 9px;
}

.brand-story a {
  text-decoration: underline;
  text-underline-offset: 4px;
  &:hover {
    color: var(--Neutral-900);
  }
}

.brand {
  text-align: center;
}
@media (max-width: 768px) {
  .brand {
    text-align: start;
  }
}

/* ==========品牌故事===============*/
